## Introduction:

This document illustrates how to link excel and python capabilities .. 
link ==> https://github.com/EAboelhamd/StyleFrame

In [60]:
import StyleFrame
from StyleFrame import StyleFrame
from StyleFrame import Styler, utils
import pandas as pd
from datetime import date

In [61]:
columns = ['Date', 'Col A', 'Col B', 'Col C', 'Percentage']
columns

['Date', 'Col A', 'Col B', 'Col C', 'Percentage']

In [62]:
df = pd.DataFrame(data={'Date': [date(1995, 9, 5), date(1947, 11, 29), date(2000, 1, 15)],
                        'Col A': [1, 2004, -3],
                        'Col B': [15, 3, 116],
                        'Col C': [33, -6, 9],
                        'Percentage': [0.113, 0.504, 0.005]},
                  columns=columns)

df

         Date  Col A  Col B  Col C  Percentage
0  1995-09-05      1     15     33       0.113
1  1947-11-29   2004      3     -6       0.504
2  2000-01-15     -3    116      9       0.005

In [63]:
only_values_df = df[columns[1:-1]]
only_values_df

   Col A  Col B  Col C
0      1     15     33
1   2004      3     -6
2     -3    116      9

In [64]:
rows_max_value = only_values_df.idxmax(axis=1)
rows_max_value

0    Col C
1    Col A
2    Col B
dtype: object

In [65]:
df['Sum'] = only_values_df.sum(axis=1)
df['Mean'] = only_values_df.mean(axis=1)
df

         Date  Col A  Col B  Col C  Percentage   Sum        Mean
0  1995-09-05      1     15     33       0.113    49   16.333333
1  1947-11-29   2004      3     -6       0.504  2001  667.000000
2  2000-01-15     -3    116      9       0.005   122   40.666667

In [66]:
sf = StyleFrame(df)
sf

/usr/local/lib/python2.7/dist-packages/StyleFrame/style_frame.py:102: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

In [67]:
sf = StyleFrame({'Date': [date(1995, 9, 5), date(1947, 11, 29), date(2000, 1, 15)],
                 'Col A': [1, 2004, -3],
                 'Col B': [15, 3, 116],
                 'Col C': [33, -6, 9],
                 'Percentage': [0.113, 0.504, 0.005]})
sf

/usr/local/lib/python2.7/dist-packages/StyleFrame/style_frame.py:102: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

In [68]:
sf.set_column_width_dict(col_width_dict={
    ('Col A', 'Col B', 'Col C'): 15.3,
    ('Sum', 'Mean'): 30,
    ('Percentage', ): 12
})

In [69]:
all_rows = sf.row_indexes
sf.set_row_height_dict(row_height_dict={
    all_rows[0]: 45,  # headers row
    all_rows[1:]: 25
})

In [70]:
sf.apply_column_style(cols_to_style='Date',
                      styler_obj=Styler(number_format=utils.number_formats.date,
                                        font=utils.fonts.calibri,
                                        bold=True))

In [71]:
sf.apply_column_style(cols_to_style='Percentage',
                      styler_obj=Styler(number_format=utils.number_formats.percent))

In [72]:
sf.apply_column_style(cols_to_style=['Col A', 'Col B', 'Col C'],
                      styler_obj=Styler(number_format=utils.number_formats.thousands_comma_sep))

In [73]:
style = Styler(bg_color=utils.colors.red,
               bold=True,
               font_color=utils.colors.white,
               protection=True,
               underline=utils.underline.double,
               number_format=utils.number_formats.thousands_comma_sep).create_style()
style

Style(font=Font(name='Arial', b=True, sz=12.0, u='double', color=Color(rgb='00FFFFFF', indexed=Value must be type 'long', auto=Value must be type 'bool', theme=Value must be type 'long')), fill=PatternFill(patternType='solid', fgColor=Color(rgb='00FF0000', indexed=Value must be type 'long', auto=Value must be type 'bool', theme=Value must be type 'long')), border=Border(left=Side(style='thin', color=Color(indexed=Value must be type 'long', auto=Value must be type 'bool', theme=Value must be type 'long')), right=Side(style='thin', color=Color(indexed=Value must be type 'long', auto=Value must be type 'bool', theme=Value must be type 'long')), top=Side(style='thin', color=Color(indexed=Value must be type 'long', auto=Value must be type 'bool', theme=Value must be type 'long')), bottom=Side(style='thin', color=Color(indexed=Value must be type 'long', auto=Value must be type 'bool', theme=Value must be type 'long'))), alignment=Alignment(horizontal='center', vertical='center', wrapText=True, shrinkToFit=True), number_format='#,##0')

In [74]:
for row_index, col_name in rows_max_value.iteritems():
    sf[col_name][row_index].style = style
sf

In [75]:
ew = StyleFrame.ExcelWriter('sf tutorial.xlsx')
sf.to_excel(excel_writer=ew,
            sheet_name='1',
            right_to_left=False,
            columns_and_rows_to_freeze='B2', # will freeze the rows above 2 (=row 1 only) and columns that before column 'B' (=col A only)
            row_to_add_filters=0,
            allow_protection=True)

IndexError: column: Sum is out of columns range.

In [ ]:
other_sheet_sf = StyleFrame({'Dates': [date(2016, 10, 20), date(2016, 10, 21), date(2016, 10, 22)]},
                            styler_obj=Styler(number_format=utils.number_formats.date))
other_sheet_sf

In [ ]:
other_sheet_sf.to_excel(excel_writer=ew, sheet_name='2')

Okay, anyways .. this expected to add two columns of sum and average to the df, format them by changing their colors and write the new results back on excel sheet .. 

as mentioned here .. 

https://github.com/EAboelhamd/StyleFrame